.red{
width: 200px;
position:relative;
height: 200px;
background-color: red;
border:none;
left: 0;
top: 1;
}

.blue{
width: 200px;
position:absolute;
height: 200px;
background-color: blue;
border:none;
right: 305px;
 
}

.green{
width: 200px;
position:relative;
height: 200px;
background-color: green;
border:none;

}


.yellow{
width: 200px;
position:relative;
height: 200px;
background-color: yellow;
border:none;
  
}